@charset "utf-8";
/* CSS Document */

body, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Change colors when scheme is picked */

.PrismicEdge {
  background-color: white;
  width: 100%;
}

header {
  background-color: transparent;
  text-align: center;
}

.nav {
  height: 90px;
  background-color: transparent;
  font-family: 'Encode Sans Condensed', sans-serif;
  text-align: center;
  font-size: 35px;
  color: white;
}

/*
nav{
    display:inline;
    font-size: 20px;
}

nav ul{
    text-decoration: none;
}

nav ul li{
    display:inline-block;
}
*/

.Mainbody {
  background-color: white;
  font-family: 'Slabo 27px', serif;
}

.displaybanner {
  width: 100%;
  height: 80vh;
  background-image: url('images/testimage2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.displaybanner h2 {
  font-family: 'Encode Sans Condensed', sans-serif;
  text-align: left;
  font-size: 140px;
  padding-top: 30vh;
  color: white;
  padding-left: 8%;
  padding-right: 8%;
}

.displaybanner h3 {
  font-family: 'Encode Sans Condensed', sans-serif;
  text-align: left;
  font-size: 90px;
  padding-top: 1vh;
  color: white;
  padding-left: 8%;
  padding-right: 8%;
}

.News {
  background-color: white;
  height: 100vh;
}

.News h1 {
font-size: 50px;
font-family: 'Quicksand', sans-serif;
text-align: center;
}

/* font-family: 'Dancing Script', cursive; for signature in minor about */

.Feature {
  background-color: #93a3bf;
  height: 58vh;
  padding-left: 15%;
  padding-right: 15%;
}

.Feature h1 {
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

/*---------------------*/

.Feature h3{
    text-align: center;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

.Feature h4{
    text-align: center;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}
/*---------------------*/

footer {
  height: 30vh;
  background-color: #32425f;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: white;
}

footer ul {
  text-decoration: none;
}

footer ul li {
  display: inline-block;
}

.icon {
  float: none;
  width: 38px;
  height: auto;
}
