@charset "utf-8";
/* CSS Document */

body, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;
    border:0;
}

/* Change colors when scheme is picked */
.PrismicEdge {
    background-color: white;
    width: 100%;
}

header {
    background-color: transparent;
    text-align: center;
}

.nav {
  height: 90px;
    background-color: transparent;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    font-size: 35px;
    color: white;
}

/*
nav{
    display:inline;
    font-size: 20px;
}

nav ul{
    text-decoration: none;
}

nav ul li{
    display:inline-block;
}
*/

.Mainbody {
    background-color: white;
    font-family: 'Slabo 27px', serif;
}

.displaybanner {
    width: 100%;
    height: 80vh;
    background-image: url('images/testimage2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.displaybanner h2 {
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: left;
    font-size: 140px;
    padding-top: 30vh;
    color: white;
    padding-left: 8%;
    padding-right: 8%;
}

.displaybanner h3 {
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: left;
    font-size: 90px;
    padding-top: 1vh;
    color: white;
    padding-left: 8%;
    padding-right: 8%;
}

.News {
    background-color: white;
    height: 100vh;
}

.News p {
    font-family: 'Slabo 27px', serif;
}

/* font-family: 'Dancing Script', cursive; for signature in minor about */
.Minorabout {
    background-color: #93a3bf;
    height: 55vh;
}

.Minorabout p {
    font-family: 'Slabo 27px', serif;
}

footer {
    height: 200px;
    float: none;
    background-color: #32425f;
    font-family: 'Slabo 27px', serif;
    text-align: center;
}

footer ul{
    text-decoration: none;
}

footer ul li{
    display:inline-block;
}

.icon {
    float: none;
    width: 38px;
    height: auto;
}
