@charset "utf-8";
/* CSS Document */

body, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;
    border:0;
}

/* Change colors when scheme is picked */
.PrismicEdge {
    background-color:ghostwhite;
    width: 100%;
}

header {
    background-color: aquamarine;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    font-size: 22px;
}

nav{
    display:inline;
    font-size: 20px;
}

nav ul{
    text-decoration: none;
}

nav ul li{
    display:inline-block;
}

.Mainbody {
    background-color: white;
    font-family: 'Slabo 27px', serif;
}

.displaybanner {
    width: 100%;
    height: 64vh;
    background-color: darkgray;
}

.displaybanner p {
    background-color: darkgray;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    font-size: 60px;
    padding-top: 25vh;
}

.News {
    background-color: white;
    height: 100vh;
}

.News p {
    font-family: 'Slabo 27px', serif;
}

/* font-family: 'Dancing Script', cursive; for signature in minor about */
.Minorabout {
    background-color: #ff4f7b;
    height: 55vh;
}

.Minorabout p {
    font-family: 'Slabo 27px', serif;
}

footer {
    float: none;
    background-color:deepskyblue;
    font-family: 'Slabo 27px', serif;
}

footer ul{
    text-decoration: none;
}

footer ul li{
    display:inline-block;
}

.icon {
    float: none;
    width: 38px;
    height: auto;
}