@charset "utf-8";
/* CSS Document */

body, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;
    border:0;
}

/* Change colors when scheme is picked */
.PrismicEdge {
    background-color:darkturquoise;
    width: 100%;
}

header {
    background-color: aquamarine;
    font-family: 'Poppins', sans-serif;
}

nav{
    display:inline;
}

nav ul{
    text-decoration: none;
}

nav ul li{
    display:inline-block;
}

.Mainbody {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/* Intended height of banner image is 450px */
.displaybanner {
    width: 100%;
    height: 300px;
    background-color: darkgray;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 60px;
    padding-top: 150px;
}

.news {
    background-color: white;
    float: left;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.servershop {
    text-align: center;
    background-color: white;
    width: 20%;
    float: right;
}

.icon {
    float: none;
    width: 38px;
    height: auto;
}

footer {
    float: none;
    background-color:deepskyblue;
    font-family: 'Poppins', sans-serif;
}

footer ul{
    text-decoration: none;
}

footer ul li{
    display:inline-block;
}